html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #5d5d5d;
    line-height: 1.2;
    font-weight: normal;
    font-size: 14.25px;
}

.wrapper {
    width: 100%;

    .main-wrapper {
        width: 94%;
        margin: 0 auto;
    }
}


.menu {
    .site-nav {
        display: flex;
        text-decoration: none;
        list-style: none;
        padding: .5em;
        border: .1em solid #1da1f2;
        border-radius: .5em;

        .nav-link {
            color: #1da1f2;
            text-decoration: none;
            background-color: white;
            display: block;
            padding: .5em 1em;
            border-radius: .5em;
            border: .1em solid #1da1f2;

            &:hover {
                color: white;
                background-color: #1da1f2;
                cursor: pointer;
            }
        }

        .button-login {
            color: white;
            background-color: #1da1f2;

            &:hover {
                color: #1da1f2;
                background-color: white;
            }
        }

        .nav-item+.nav-item {
            margin-left: 1.5em;
        }

        .nav-item-rigth {
            margin-left: auto;
        }
    }
}

/* The footer is fixed to the bottom of the page */

footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    width: 100%;

    a {
        text-decoration: none;
        color: #eee;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        align-items: center;
        display: flex;
        list-style: none;
        li {
            padding: 8.8px;
            border-right: solid;
            line-height: 1px;
            &:last-child {
                border-right: none;
            }
        }
    }

    /* Footer main */
    .ft-main {
        width: 94%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #777;
        padding-bottom: 10px;

        .ft-main-info {
            display: flex;
            img {
                width: 100%;
                margin: auto;
            }
            .logo-divider {
                border-right: solid 1px #77828a;
                height: 60px;
                margin: 20px 30px 30px;
            }
        }

        &-info {
            .socials {
                #hexagon {
                    display: inline-block;
                    text-align: center;
                    width: 55.4px;
                    height: 30px;
                    background: #5F6062;
                    position: relative;
                    top: 26px;
                    transition: all 0.3s ease-in-out;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -20px;
                        left: 0;
                        width: 0;
                        height: 0;
                        border-left: 29px solid transparent;
                        border-right: 26px solid transparent;
                        border-bottom: 20px solid #5F6062;
                        transition: all 0.3s ease-in-out;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        width: 0;
                        height: 0;
                        border-left: 26px solid transparent;
                        border-right: 29px solid transparent;
                        border-top: 20px solid #5F6062;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        background: #f48f00;
                        cursor: pointer;
                        &::after {
                            border-top: 20px solid #f48f00;
                        }
                        &:before {
                            border-bottom: 20px solid #f48f00;
                        }
                    }

                    i {
                        color: white;
                        font-size: 20px;
                        line-height: 30px;
                        text-shadow: 2px 2px 10px black;
                    }
                }

            }
        }
    }

}
